@use '@/shared/styles/utils/functions' as *;

$spacing: rem(10);
$sm-offset: rem(20);
$base-offset: calc($sm-offset * 2);
$clamp-offset: clamp($sm-offset, 3vw, $base-offset);
$section-offset-vertical: $clamp-offset;

:root {
  --spacing: #{$spacing};
  --sm-offset: #{$sm-offset};
  --base-offset: #{$base-offset};
  --clamp-offset: #{$clamp-offset};
  --section-offset-vertical: #{$section-offset-vertical};
}
